.img-upload-label {
    margin: 0;
    position: relative;
    display: flex;
    cursor: pointer;
    justify-content: center;

    &:hover {
        .img-upload-btn {
            border-color: #ccc;
            &:before { color: #ccc; }
        }
        p { color: #ccc; }
    }
    
    .img-upload-btn {
        content: '+';
        font-size: 30px;
        font-weight: bold;
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 3px dashed #212529;
        border-radius: 10px;
        transition: all ease .2s;

        &:before {
            content: '+';
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            color: #212529;
            transition: all ease .2s;
        }
    }


    p {
        display: flex;
        align-items: center;
        margin: 0 0 0 20px;
        font-size: 24px;
        transition: all ease .2s;
    }
}